# Proxmox Configuration
APP_PROXMOX_URL=https://proxmox.example.com:8006
APP_PROXMOX_TOKEN_ID=TOKEN_ID
APP_PROXMOX_TOKEN_SECRET=SECRET
APP_USERNAME_ADMIN=USER
APP_PASSWORD_ADMIN=PASS

# Server
APP_SERVER_PORT=3000

# Logging
RUST_LOG=info
